
*{margin: 0; padding: 0; box-sizing: border-box; font-family: 'Roboto', sans-serif;}
a{text-decoration: none;}
:root{
    --primary-color: #0B3847;
    --active-color: #F05822;
}
.banner-heading{font-family: 'PT Sans', sans-serif; font-size: 80px; color: #fff;}
.primary-color{color: #0B3847;}
.primary-background{background-color: #0B3847;}
.common-header-strip{background-color: #0F4F64; padding: 45px 20px; }
.primary-light{color: #B8DCEE;}
.active-color{color: #F05822;}
.active-background{background-color: #F05822;}
.bg-gray{background-color: #f0f3f4;}
.common-primary-heading{font-family: PTnarrow-bold, sans-serif; font-size: 50px; margin-bottom: 40px;}
.theme-btn{background-color: #F05822; color: #fff; border-radius: 50px; font-size: 26px; font-weight: 700; padding: 10px 30px;position: relative; filter: none; transition: .3s;}
/* .theme-btn::after{content: ''; background-color: #CB4B1D; position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: 0;border-radius: 50px; transition: all .3s;z-index: -1;}
.theme-btn:hover::after{opacity: 100%; } */
.theme-btn:hover{filter: brightness(.8); background-color: #F05822; color: #fff;}
.heading-sm{color: #4A626E; font-size: 40px; font-family: PTnarrow-regular, sans-serif; margin-bottom: 40px;}
.person-name{ font-size: 40px; font-family: PTnarrow-bold, sans-serif; color: #0B3847; line-height: 76px; margin-bottom: 0;}
.touch-device{display: none !important;}


/* Header */
.home .header-main{position: absolute; width: 100%; top: 0; left: 0;z-index:99999;}
.home .header-main .navbar-toggler .navbar-toggler-icon{fill: #fff; color: #fff;}
.header-main .navbar .navbar-nav .nav-item .nav-link{font-size: 22px; line-height: 24px; font-weight: bold; color: #0B3847; background-color: transparent; border-radius: 40px; padding: 8px 16px; transition: .2s;}
.header-main .navbar .navbar-nav .nav-item .nav-link.active, .header-main .navbar .navbar-nav li.current-menu-item a {color: #F05822 !important; background-color: #e7e7e7 !important;}
.header-main .navbar .navbar-nav .nav-item .nav-link:hover{color: #F05822 !important;}
.home .header-main .navbar .navbar-nav .nav-item .nav-link, .home .header-main .navbar .navbar-nav .nav-item .nav-link.active{color: #fff; background-color: transparent;}
.header-main .navbar-toggler{border: 0;}
.header-main .navbar-toggler .navbar-toggler-icon{max-width: 24px;}
.header-main .navbar-toggler:focus { box-shadow: none;}
.home .navbar-toggler-icon{background-image: url(../images/white-icon.png);}
/* Ends Header */

/* banner-main */
.banner-main{background-image: url(../images/banner.jpg); height: 44vh; background-repeat: no-repeat !important; background-size: cover; display: flex; align-items: center; 
background-position: bottom;}
.banner-main-circle{position: relative;}
.banner-main-circle::after{ position: absolute; top: 0; right: 0; content: ''; background: url(../images/banner-circles.png) top right no-repeat; width:826px; height: 100%; background-position: left 170px bottom 70%;}
.home .banner-main{background-image: url(../images/HomeBanner.jpg); height: 820px;}
.banner-main .banner-sec{max-width: 800px;}
.banner-main .banner-sec h1{margin-bottom: 45px;}
.banner-main .banner-sec p{font-size: 30px; width: 96%;}
.banner-main .container{z-index: 999;}
/* End banner-main */

/* bennelong-funds */
.bennelong-funds{padding: 100px 0;}
.bennelong-funds .row{display: flex; align-items: center;}
.bennelong-funds .left-side h3{font-family: PTnarrow-bold, sans-serif; font-size: 50px; margin-bottom: 40px;}
.bennelong-funds .bennelong-row{justify-content: space-between;}
/*  End bennelong-funds */

/* crown-golf */
.crown-golf .left-side img{width: 100%;}
.crown-golf .right-side{max-width: 610px;}
/* Endcrown-golf */

/* Our-Businesses */
.our-business{padding: 190px 120px 60px;}
.in_number_our-business{padding: 190px 120px 60px; background: url(../images/bgcycle_2.png) top left no-repeat;
    background-size: 50% !important; background-color: #0B3847;}

.our-business .business-inner{display: flex; flex-direction: column; align-items: center; justify-content: center;}
.our-business .business-inner .business-numbers > .row{justify-content: center;}
.our-business .business-inner .business-numbers{padding-top: 40px; max-width: 1120px;}
.our-business .business-inner .business-numbers .round{height: 60px; width: 60px; border-radius: 50%; background-color: #B8DCEE; display: inline-block; margin: auto;}
.our-business .business-inner .business-numbers .busi-number-box:not(:last-child){border-right: 1px solid #B8DCEE;}
.our-business .business-inner .business-numbers .busi-number-box .primary-light{font-size: 20px;}
.our-business .business-inner .date{margin-left: auto; margin-top: 80px;}
.our-business .business-inner .date p{color: #C2C2C2; font-size: 20px; text-align: right;}
.our-business .business-inner .business-numbers h3{line-height: 1; margin-top: 28px;}
.our-business .business-inner .owl-carousel .owl-item .business-numbers .busi-number-box img{height: 60px; width: 60px; margin: auto;}
.our-business .business-inner .business-carousel {position: relative;}
.our-business .business-inner .business-carousel .owl-dots {position: absolute; left: 0; bottom: -30px; right: 0; margin: 0 auto; border-radius: 50%;}
/* Ends Our-Businesses */

/* our-people */
.our-people{background: url(../images/bgcycle.png) top left no-repeat;padding: 140px 0;background-size: 50% !important;} 
/* .owl-slider .card{display: inline-block; background: transparent; border: none;} */
.owl-slider .item .img-box{height: 264px; width: 221px; border-top-right-radius: 100px; overflow: hidden;}
.owl-slider .item .people-detail p{ font-size: 22px; line-height: 28px; margin: 0 !important;}
.owl-slider .item .people-detail p.person-name{font-family: PTnarrow-bold, sans-serif;}
.owl-slider .item .people-detail p.designation{font-family: PTnarrow-regular, sans-serif;color: #4A626E;}
.owl-slider .item .people-detail{margin-top: 15px;}
.owl-slider .owl-nav{width: fit-content; float: left; display: flex; justify-content: space-between; gap: 70px;}
.owl-slider .owl-nav button{font-size: 40px !important; margin: 0 20px; height: 40px; width: 55px; background-size: 100% 100% !important; background-repeat: no-repeat !important;}
.owl-slider .owl-nav button.owl-prev{background-image: url(../images/prev.png);}
.owl-slider .owl-nav button.owl-next{background-image: url(../images/next.png);}
.owl-slider .owl-nav button span{display: none;}
.owl-slider .owl-dots{display: none;}
.owl-slider .owl-stage-outer{padding-bottom: 50px;}
.our-people .owl-slider{padding-left: 120px;}
.our-people .btn-container{padding-right: 120px;}
.executive_team-member1{padding-top: 0px !important;}
.owl-slider .owl-nav button:first-child{margin-left: 0;}
.owl-slider .owl-nav button:last-child{margin-right: 0;}
/* Ends our-people */

/* principle page */
.principle-banners{background-image: url(../images/our-principles.png);}
.about-us, .contact-form, .anonymous-information, .bennelong-funds-bg{ padding: 165px 0;background: url(../images/about-bgcycle.png) top right no-repeat;}
.contact-form{padding: 0;}
.global-values{padding: 130px 0;}
.global-values .left-side .heading-sm{color: #F05822; margin-bottom: 0px;font-size: 36px;}
.about-us{position: relative;}
.about-us .right-side{position: absolute; right: 0;}
.global-values .global-values-left{max-width: 390px;margin-left: auto; margin-right: 0;margin-top: 120px;}
.global-values .global-values-left p{line-height: 50px;}
/* our people */
.people-banners{background-image: url(../images/our-people.png);}
.bangarra-family-office{padding: 83px 0;}
.bangarra-family-office p{font-size: 20px;}
.board-directors{padding: 50px 0;}
.board-directors .div-heading{position: relative; margin-bottom: 70px;}
.board-directors .div-heading::after{content:''; position: absolute; top: 50%; right: 0; background: #083848; height: 1px; width: calc(50% - 170px);}
.board-directors .div-heading::before{content:''; position: absolute; top: 50%; left: 0; background: #083848; height: 1px; width: calc(50% - 170px);}
.board-directors .div-heading h3{ margin-bottom: 0; width: max-content;}
.board-directors .right-side .card-div .card{background-color: transparent; border: none; width: max-content;}
.board-directors .right-side .card-div .img-box{width: fit-content;}
.board-directors .right-side .card-div{display: flex; justify-content: space-between;} 
.people-detail .heading-sm{margin: 0; line-height: 36px; font-size: 26px;}
.cards-details{padding: 145px 0;}
.people-detail .designation{font-size: 30px;}
.our-people-number{padding-bottom: 190px;}
.cards-details .our-people-image {border-radius: 100px 0 0 0;}
.board-directors .board-directors-people-image {border-radius: 150px 0 0 0;}
/* Ends our people */

/* our impact */
.banner-impact{background: url(../images/our-impact.png); background-size: cover !important; background-position: center;}
.bennelong-foundation{padding: 165px 0;}
.bennelong-foundation .col-12.col-md-4{display: flex;align-items: center;justify-content: center;}
.grant-recipients-slider .owl-item .imgs-box .img-fluid{ height: 109px;width: 109px; object-fit: contain;}
.grant-recipients-slider .owl-item .imgs-box{border: 1px solid #0b384722; width: fit-content; padding: 18px; margin: 9px 0; display: inline-flex;}
.grant-recipients{padding-bottom: 160px;}
.case-study{padding: 100px 0;}
.impact-by-numbers{padding-bottom: 190px;}
.foundation-annual-report{background: url(../images/Oval.png) top right no-repeat;}
.case-study .common-primary-heading span{font-weight: 400; font-family: PTnarrow-regular, sans-serif; color: #F05822;}
.grant-recipients-mobileview{display: none !important;}
.case-study .orange-text{font-family: PTnarrow-regular, sans-serif;}
/* Ends our impact */


/* Disclaimer */
.anonymous-information h3.primary-color{font-size: 30px;}
.content-main .anonymous-information{padding: 70px 0 60px;}
.content-main .anonymous-information .contact-inner{padding-top:0px !important;}
.content-main .primary-color{ margin-bottom: 30px;}
.content-main p{padding-bottom: 30px;}
.disclaimer-parent-container p{padding-bottom: 10px;}
/* Ends Disclaimer */

/* Modern Slavery Statement */
.li-list li{padding-bottom: 25px;}
.li-list li::marker{color: #F05822; font-size: 18px;}
/* Ends Modern Slavery Statement */

/* Our Vision */
.our-vision .row .books-img img{filter: drop-shadow(15px 15px 10px #00000070);}
.our-vision{padding: 47px 0 57px;}
/* .our-vision .reconciliation{font-weight: 600; font-size: 20px; font-family: PTnarrow-bold, sans-serif;} */
a:hover{color: #F05822; filter: brightness(.8);}
/* EndsOur Vision */

/* Sustainability & Community */
.sustainability{background: url(../images/sustainability.jpg); height: 800px; display: flex; align-items: center; justify-content: center;}
.sustainability .sustainability-content{max-width: 800px; margin: auto;}
.sustainability .sustainability-content p{font-size: 20px; color: #fff;}
/* Ends Sustainability & Community */

/* Carbon Neutral */
.carbonNeutral{padding: 200px 0 174px;}
.carbonNeutral .reconciliation{font-weight: 400; font-family: PTnarrow-regular, sans-serif; font-size: 20px;}
/* Ends Carbon Neutral */

/* Footer */
.footer-main .footer-inner .footer-top{display: flex; align-items: center; justify-content: center; flex-wrap: wrap; width: 100%;background-color: #0F4F64; padding: 45px 20px;}
.footer-main .footer-inner .footer-top .content{position: relative;}
.footer-main .footer-inner .footer-top .content:not(:first-child)::after{position: absolute; width: 10px; height: 10px; border-radius: 50%; background-color: #fff; content: ''; top: 50%; left: 0; transform: translateY(-50%);}
.footer-main .footer-inner .footer-top .content h3{color: #fff; font-size: 50px; font-family: PTnarrow-regular, sans-serif; padding: 0 20px; margin-bottom: 0;}
.footer-main .footer-inner .footer-center{width: 100%; height: 512px; background: url(../images/FirstNations.jpg); background-size: cover; display: flex; align-items: center; justify-content: center;}
.footer-main .footer-inner .footer-center p{font-size: 30px; font-family: PTnarrow-regular, sans-serif; max-width: 844px; padding: 0 16px;}
.footer-main .footer-inner .footer-bottom{padding: 45px 20px; display: flex; align-items: center; justify-content: center;}
.footer-main .footer-inner .footer-bottom .footer-list{display: flex; margin: 0; flex-wrap: wrap; padding: 0; justify-content: center;}
.footer-main .footer-inner .footer-bottom .footer-list .footer-item{list-style: none; display: inline-block; padding: 0 20px;}
.footer-main .footer-inner .footer-bottom .footer-list .footer-item .footer-link{text-decoration: none; display: block; text-align: center; font-family: 'Open Sans', sans-serif; font-weight: 600;}
.footer-list a, .footer-list a:hover{color:white;} 
/* Ends Footer */

/* Contact us */
.contactUs .common-header-strip .banner-heading{font-size: 60px;}
.contactUs #contactForm{padding-bottom: 68px; max-width: 602px;}
.contactUs #contactForm .theme-btn{padding: 7px 40px !important; font-size: 20px !important;}
.contactUs #contactForm input{border: none; border-radius: 0; margin-bottom: 60px; border-bottom: 1px solid #0B3847; padding: 0; font-size: 20px; font-family: PTnarrow-regular, sans-serif; background: transparent;}
.contactUs #contactForm input::placeholder{color: #0B3847;}
.contactUs #contactForm input:focus{box-shadow: none;}
.contactUs .contact-form .contact-inner{padding-top: 68px;}
.contactUs .contact-address-details .mobile-map{display: none;}
.contactUs .contact-address-details{padding: 30px 0 38px;}
.contactUs .contact-address-details .row .details{max-width: fit-content; max-width: 217px;}
.contactUs .contact-address-details .row .details h3{font-family: PTnarrow-regular, sans-serif; font-size: 26px;}
.contactUs .contact-address-details .row .details p{line-height: 1.8;}
/* Ends Contact us */


/* Responsive */
@media(max-width: 1400px){
    .header-main .navbar .navbar-nav .nav-item .nav-link{font-size: 16px;}
    .footer-main .footer-inner .footer-top .content h3{font-size: 40px;}
}
@media(max-width: 1200px){
    .bennelong-foundation{padding: 100px 0;}
    .grant-recipients{padding-bottom: 100px;}
}
@media(max-width: 1100px){
    .footer-main .footer-inner .footer-top .content h3{font-size: 30px;}
    .theme-btn{font-size: 18px;}

}
@media(max-width: 991px){
    .contactUs .common-header-strip .banner-heading{font-size: 50px;}
    .footer-main .footer-inner .footer-bottom .footer-list{flex-direction: column; align-items: center;}
    .footer-main .footer-inner .footer-bottom .footer-list .footer-item{padding: 14px 16px;}
    .banner-main .banner-sec h1, .banner-heading{font-size: 60px;}
    .banner-main .banner-sec p{font-size: 26px; width: 100%;}
    .home .banner-main{height: 100vh; min-height: 600px;}
    .common-primary-heading, .bennelong-funds .left-side h3{font-size: 40px;}
    .heading-sm{font-size: 30px;}
    .our-business .business-inner .business-numbers > .row{justify-content: space-between;}
    .our-business .business-inner .business-numbers .busi-number-box{border-right: none !important; border-bottom: 1px solid #B8DCEE; margin: 0 auto 20px; width: 100%;}
    .our-business.impact-by-numbers .business-inner .business-numbers .busi-number-box:last-child{border-bottom: none;}
    .our-business{padding: 40px 80px;}
    .our-business .business-inner .date{margin-top: 100px;}
    .our-people .owl-slider{padding: 0 8px;}
    .about-us .right-side img{ border-radius: 50%; overflow: hidden; background-size: cover; height: 250px; width: 250px;}
    .about-us{ padding: 40px 0;}
    .global-values {padding: 47px 0;}
    .board-directors .div-heading::after,.board-directors .div-heading::before{ width: calc(50% - 130px);}
    .contactUs .contact-form .contact-inner{padding-top: 50px; padding-bottom: 50px;}
    .contactUs #contactForm{max-width: 100%; padding-bottom: 0;}
    .contactUs .contact-form .contact-inner .desktop-map{display: none;}
    .contactUs .contact-address-details .mobile-map{display: block; margin-top: 32px;}
    .header-main .navbar .navbar-nav .nav-item .nav-link{color: #fff; text-align: center; border-radius: 0;}
    .header-main .navbar-expand-lg{padding-bottom: 0; position: relative;}
    .header-main #navbarNavDropdown{position: absolute; left: 0px; right: 0px; top: 96px;z-index: 99999;}
    .header-main .navbar .navbar-brand img{max-width: 150px; margin-bottom: 8px;}
    .header-main .navbar-expand-lg .navbar-toggler{ margin-bottom: 8px;}
    .header-main #navbarNavDropdown .navbar-nav{ background-color: #0F4F64; padding: 64px 0;}
    .header-main .navbar .navbar-nav .nav-item{margin: 10px 0;}
    .cards-details .reverse-col {flex-direction: column-reverse;}
    .our-vision .desktop-device{margin: 30px 0;}
    .our-vision .reconciliation{width: 100%;display: block; text-align: center;}
    .home .banner-main {background-position: 20% center !important;}
    .about-us .right-side{position: initial;}
    .carbonNeutral .right-side{padding-top: 40px;}
    .banner-main-circle::after {width: 743px !important;}
    .home .banner-main .banner-sec {max-width: 800px;padding-top: 130px; }
}
@media(max-width: 767px){
    .home .banner-main .banner-sec {padding-top: 90px;}
    .home .banner-main {height: 80vh; min-height: 600px;}
    .home .banner-main .banner-sec h1 { margin-bottom: 15px; }
    .owl-slider .owl-nav button.owl-prev {margin-left:0;}
    .owl-slider .owl-nav button.owl-next {margin-right: 0;}
    .our-business .business-inner .business-carousel .owl-dots{bottom: 50px;}
    .footer-main .footer-inner .footer-top .content h3{font-size: 28px;}
    .footer-main .footer-inner .footer-top{padding: 28px 0px;}
    .footer-main .footer-inner .footer-center p{font-size: 24px;}
    .banner-main .banner-sec h1{font-size: 50px;}
    .banner-main .banner-sec p{font-size: 24px;}
    .common-primary-heading, .bennelong-funds .left-side h3{font-size: 35px;}
    .heading-sm{font-size: 28px;}
    .banner-heading{font-size: 40px;}
    .our-business {background-size: 82.6% !important;}
    .our-business .business-inner .business-numbers .busi-number-box{max-width: 320px;}
    .our-business .business-inner .date{margin-top: 54px; width: 100%;}
    .our-business .business-inner .date p {text-align: center;}
    .our-business{padding: 40px 20px;}
    .our-business .business-inner .carousel .carousel-indicators button{height: 8px; width: 8px;}
    .our-business .business-inner .carousel .carousel-indicators{bottom: -70px;}
    .our-business .business-inner .business-numbers .round{height: 36px; width: 36px;}
    .our-business .business-inner .business-numbers .busi-number-box .primary-light{font-size: 16px;}
    .bennelong-funds, .crown-golf, .our-people{padding: 45px 0;}
    .bennelong-funds .left-side{margin-bottom: 40px;}
    .crown-golf .left-side img{max-width: calc(100% - 134px); min-width: 250px;}
    .crown-golf .row{flex-direction: column-reverse;}
    .crown-golf .right-side{margin-bottom: 45px;}
    .crown-golf .right-side img {max-width: 190px; margin: 0 !important; }
    .crown-golf{padding-bottom: 0;}
    .theme-btn{padding: 5px 30px;}
    .bennelong-funds .text-end.col-12{text-align: center !important;max-width:75%;margin: 0 auto;}
    .owl-slider .owl-nav{display: flex; width: 100%; align-items: center; justify-content: space-between;}
    .our-people {background-size: calc(100% - 134px) !important;}
    .our-people .btn-container{padding: 30px 20px 0 0; display: flex;}
    .our-people .common-primary-heading, .our-people .heading-sm{text-align: left;}
    .owl-slider .owl-stage-outer{padding-bottom: 30px;}
    .about-us .right-side img{ height: 235px; width: 235px;}
    .contactUs .common-header-strip .banner-heading{font-size: 40px;}
    .common-header-strip{padding: 27px 0px;}
    .contactUs .contact-form .contact-inner{padding-top: 28px;}
    .contactUs .contact-address-details > .container > .row{flex-direction: column; text-align: center;}
    .contactUs .contact-address-details .row .details{margin: auto;}
    .anonymous-information h3.primary-color{font-size: 26px; }
    .person-name{font-size: 22px; line-height: 28px; padding: 5px 0;}
    .people-detail .heading-sm{font-size: 18px; line-height: 28px;}
    .board-directors .right-side .card-div .img-box{margin-bottom: 10px;}
    .people-detail .designation{font-size: 18px; padding: 5px 0 15px 0 !important;}
    .cards-details .people-detail .person-name{padding: 25px 0 5px;}
    .grant-recipients{padding-bottom: 74px;}
    .case-study{padding: 28px 0 24px;}
    .our-business .business-inner .business-numbers h3{margin-top: 22px;}
    .our-vision{padding: 60px 0 66px;}
    .desktop-device{display: none !important;}
    .touch-device{display: block !important;}
    .sustainability .sustainability-content p{font-size: 18px;}
    .carbonNeutral{padding: 46px 0 48px;}
    .about-us, .contact-form, .anonymous-information, .bennelong-funds-bg{background-image: none;}
    .banner-main-circle::after{ width:770px !important;}
    .common-banner-main.banner-main {background-position: 35% center !important; padding: 58px 0; height: auto; }
   .our-business { background-size: calc(100% - 134px) !important; }
}
@media(max-width: 576px){
    .cards-details .our-people-image {border-radius: 0 100px 0 0;}
    .board-directors .board-directors-people-image {border-radius: 0 150px 0 0;}
    .header-main #navbarNavDropdown{top: 60px;}
    .footer-main .footer-inner .footer-top .content h3, .footer-main .footer-inner .footer-center p{font-size: 20px;}
    .banner-main .banner-sec h1{font-size: 40px;}
    .banner-heading{font-size: 36px;}
    .banner-main .banner-sec p{font-size: 18px;}
    .common-primary-heading, .bennelong-funds .left-side h3{font-size: 30px;}
    .heading-sm{font-size: 26px; margin-bottom: 30px;}
    .bangarra-family-office p {font-size: 16px;}
    .bangarra-family-office {padding: 35px 0;}
    .board-directors .div-heading h3{font-size: 20px;}
    .board-directors .div-heading::after,.board-directors .div-heading::before{ width: calc(50% - 90px);}
    .board-directors { padding: 26px 0;}
    .cards-details {padding: 58px 0;}
    .contactUs #contactForm .theme-btn{margin: auto; display: flex; max-width: fit-content;}
    .contactUs .common-header-strip .banner-heading{font-size: 34px;}
    .content-main .anonymous-information{padding: 30px 0 40px;}
    .header-main .navbar .navbar-brand img {max-width: 75px;}
    .board-directors .right-side .card-div{flex-direction: column; align-items: center;}
    .board-directors .right-side .card-div .card:last-child{margin-top: 40px;}
    .board-directors .div-heading{margin-bottom: 40px;}
    .bennelong-foundation{padding: 38px 0 70px;}
    .grant-recipients .common-primary-heading{margin-bottom: 22px;}
    .grant-recipients-mobileview{display: block !important;}
    .grant-recipients-pcview{display: none !important;}
    .about-us, .contact-form, .anonymous-information, .bennelong-funds{ background: none !important;}
    .banner-main-circle::after{ width: 550px !important;}
    .owl-slider .item .img-box {height: 100%; width: 100%; overflow: hidden; }
    .banner-businesses-heading {margin-bottom:0 !important;}

}
@media(max-width: 460px){
    .contactUs .contact-address-details .mobile-map iframe{
        width: 340px;
        height: 340px;
    }
}
@media(max-width: 360px){
    .contactUs .contact-address-details .mobile-map iframe{
        width: 300px;
        height: 300px;
    }
}
/* Contact  */
.contactUs #contactForm span.cf7span-class.wpcf7-valid, .contactUs #contactForm span.cf7span-class.wpcf7-not-valid {position: relative;}
.contactUs #contactForm span.cf7span-class.wpcf7-valid:after, .contactUs #contactForm span.cf7span-class.wpcf7-not-valid:after {    
    position: absolute;
    top: 10px;
    right: 0;
    height: 13px;
    width: 13px;
    border-radius: 50%;
}
.contactUs #contactForm span.cf7span-class.wpcf7-not-valid:after{
background-color: red;
    content: "!";
    line-height: 14px;
    text-align: center;
    color: #fff;
    font-size: 11px;
    font-weight: 900;
}
.contactUs #contactForm span.cf7span-class.wpcf7-valid:after {
    background-color: green;
    content: url("data:image/svg+xml,%3Csvg width='9' height='7' viewBox='0 0 9 7' fill='none' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.00183 1.20368C8.1153 1.31715 8.1153 1.50112 8.00183 1.61459L3.02756 6.58885C2.91394 6.70247 2.72968 6.7023 2.61627 6.58847L0.266206 4.22957C0.153101 4.11604 0.153274 3.93237 0.266592 3.81905L0.882721 3.20292C0.996429 3.08921 1.18087 3.08949 1.29424 3.20354L2.61627 4.53348C2.72964 4.64753 2.91408 4.6478 3.02779 4.5341L6.97457 0.587321C7.08804 0.473852 7.27201 0.473853 7.38548 0.587321L8.00183 1.20368Z' fill='%23ffffff' /%3E%3C/svg%3E");
    line-height: 10px;
        text-align: center;
}
.contact-address-details .details a {color: #101010;}
/* Contact  */
.case-study .our-vision-right-img {background-color: #fff !important; padding: 48px;}
.case-study .common-primary-heading span{font-weight: 400; font-family: PTnarrow-regular, sans-serif; color: #F05822;}
.grant-recipients-slider .owl-item .imgs-box a:hover{ filter: none;}
/* page not found */
.page-not-found { height: 80vh;}
.page-not-found .row h1{text-align: center;}
#contactForm form p label{width: 100%;}
#contactForm form p > input{font-family: 'Roboto' !important;padding: 7px 40px !important; font-size: 20px !important; background-color: #F05822 !important; border-radius: 50px !important; transition: .3s; border-bottom: 0 !important;     margin-bottom: 20px !important;}
.contactUs #contactForm form p label .wpcf7-not-valid-tip{position: relative; top: -45px;} 
/* .contactUs #contactForm form .wpcf7-response-output{border: none; padding: 0; margin: 0;} */
.contactUs #contactForm form .wpcf7-response-output{border-radius: 25px; margin: 0;}
/* .owl-slider .owl-nav button.owl-prev{margin-left: 0; margin-right: 80px;} */
@media(max-width: 991px){.reconciliation.webview{display: none;}.reconciliation.mobileview{display: block;margin-top: 20px;}.contactUs #contactForm form .wpcf7-response-output{width: 100%;}}
@media(max-width:407px){.our-people{background-size: 250px !important;}
.our-business { background-size: 250px !important;}
}
@media(min-width:992px){
    .reconciliation.webview{display: block;}
    .reconciliation.mobileview{display: none;}
    .board-directors .common-primary-heading{
        margin-top: 100px;  
    }
}
@media(max-width:420px) {
.common-banner-main.banner-main {
        background-position: 45% center !important;
        padding: 58px 0;
    }
.common-banner-main.banner-main .banner-sec h1 {
    font-size: 34px;
    max-width: 200px;
}
}


.bennelong-funds-bg{background: url(../images/Oval_home.png) top right no-repeat;}
.banner-main-circle::after{width: 767px;}


.board-directors .our-people-image {
   width: 100%;
}

.bennelong-about p {
    margin-bottom: 30px;
}
